:root{
  --bio-color: #2e6282;
  --graytext-color: #313030;
  --text-white: #b63434;
  --slider-background: #f0f8f8;
  --white-color:#ffffff;
  --common-text:#312f30;
  --darkblue:#2d6282;
  --course-background:#f1faf9;
  --gray-background:#f3f3f3;
}

body{
font-family: 'Roboto', sans-serif;
color: var(--common-text);
}

/* common css */
.btn-biolink{
  background: var(--bio-color);
  border-radius: 21px;
  color: var(--white-color);
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  text-transform: uppercase;
}
.font-size-30{
  font-size: 3.5rem;
}
/* End of common css */


